@model Student

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form asp-action="Create" method="post">
    @Html.LabelFor(m => m.Id)
    @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @required = "true"  })
    <br />

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @required = "true" })
    <br />

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @required = "true" })
    <br />

    @Html.LabelFor(m => m.Course)
    @Html.DropDownListFor(m => m.Course, new SelectList(new[] { "Web Development", "Physics", "English", "Computer Science" }), "--Select Course", new { @class = "form-control", @required = "true" })
    <br />

    <input type="submit" value="Submit" class="form-control"/>
</form>