@model Student

<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>@Model.Course</td>
    <td>
        <input type="submit" name="Id" value="@Model.Id" /> 
    </td>
</tr>